@charset "utf-8";

* {
  padding: 0;
  margin: 0;
}
html, body {
  height: 100%;
  min-width: 380px;
  font: 12px/1.5 Tahoma, Arial, sans-serif;
}
a {
  text-decoration: none;   /* 取消文本的修饰 */
}
input {
  outline: none;   /* 取消轮廓的修饰 */
}
ul {
  list-style: none;
}
/* 媒体查询 */
@media screen and (max-width: 380px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 380px) and (max-width: 600px) {
  html {
    font-size: 90px;
  }
}

@media screen and (min-width: 600px) {
    html {
      font-size: 100px;
    }
}
